@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}


li, a, button{
    font-family: "Raleway" sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}


.nav_links{
    text-decoration: none;
    list-style: none;
    color: white;
}

.nav_links li{
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px;
    color: white;
}

.nav_links li a{
    text-decoration: none;
    transition: all 0.3 ease 0s;
    color: white;
}
.nav_links li a:hover{
    text-decoration: none;
    color: #0088a9;
}

.buton{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

    
.imagine_logo {
    max-height: 6%;
    max-width: 6%;
    border-radius: 50px;
}

.carusel img{
    height: 130vh;
}



.footer{
    padding: 100px 0px 20px;
    text-align: center;
    color: white;
}


.cotainar{
    color: white;
    background-color: #24252A;
    padding: 10px;
    
}
.cotainar > img{
    padding: 10px;
    border-radius: 10%;
}

.cotainar-2{
    color: white;
    background-color: #24252A;
    padding: 10px;
}
.cotainar-2 > img{
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10%;
}


.testtest{
    color: white;
}

.pozafooter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    padding-bottom: 5px;
    width: 3%;
}



.col{
    width: 33.33%;
    height: auto;
    padding: 2px;
    display: flex;
}

.col > img{
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 3%;
    width: 33.33333%;
}




@media screen and (max-width: 900px){
    .features{
        flex-wrap: wrap;
    }
    
    .features > div:nth-child(n + 5){
        width: 50%;
        flex-wrap: wrap;
    }
}


.despremine > img{
    max-width: 100%;

}


.about{
    width: 100%;
    padding: 78px 0px;
    color: white;
}

.about img{
    height: auto;
    width: 420px;
    border-radius: 3%;
}

.about-text{
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1{
    font-size: 60px;
    color: #0088a9;
    text-transform: capitalize;
}

.about-text h5{
    font-size: 25px;
    text-transform: capitalize;
}

.about-text p{
    font-size: 18px;
}